.deletePopup {
    /*display: block; */
    visibility: visible;
    z-index: 1;
}

.deleteError{
    text-align: center;
    font-size: 13px;
    margin-top: 5%;
    margin-bottom: -3vw;
    color: red;
    /*display: none; */
    z-index: 1;
}

.loginButton {
    margin-left: -1%;
}

.header {
    margin-bottom: 10px;
    font-size: 20px;
}