@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

.settingsWrapper {
    margin: auto;
    padding-top: 2vw;
    width: 80vw;
    height: 100%;
    justify-content: center;
    text-align: center;
    position: relative;
    font-family: sans-serif;
}
